- Python 3.8+
- PyCaret 3.3.2
- pandas
- numpy
- scikit-learn
- matplotlib
# pickle is optional as it is part of Python's standard library and does not need to be explicitly installed
- pickle


#streamlit 
#please un-comment only when web application will be deployed 
